nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 8rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--grayish-blue);
}

.app__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ul{
        display: flex;
        flex-direction: row;
        li{
            list-style-type: none;
            margin: 0rem 1rem;
            color: var(--dark-grayish-blue);
            font-weight: 400;
        }
    }
}

.app__cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app__cart-icon{
    color: var(--dark-grayish-blue);
    margin-right: 2rem;
    cursor: pointer;
}

.app__cart-profile{
    width: 50px;
    img{
        width: 100%;
    }
}

